transcription/static/speech/model_big
transcription/static/speech/recasepunc
wheel_files
test.py
transcription/templates/record_audio_test.html
transcription/templates/record_audio.html
ffmpeg-7.0-full_build.zip
media/recorded_audio.mp3
bin/ffmpeg.exe
bin/ffplay.exe
bin/ffprobe.exe